# Python Local Conda Environment
.conda

# VSCode Settings Path
.vscode

# Manim Path
media

# Data Parquet Files
*.parquet

# Data CSV Files
runs

# Environment Variables
.env

# Notebook Plugin
.crossnote

# Build Files
.build